.input {
  border: 1px solid $darkcolor;
  width: 100%;
  border-radius: 10px;
  font-size: $fontlarger;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  :focus,
  :focus-visible {
    outline: none !important;
  }
}
