.root {
  height: 100vh;
}
.navspace {
  height: 140px;
}
.pageloading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
}
.pcmore {
  text-align: center;
  margin-top: 20px;
}
.nodata {
  text-align: center;
  font-size: $fontsmall;
  color: #aaa;
  padding: 15px;
}
