.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #000;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  background-color: #000 !important;
  touch-action: none;
  overflow: visible !important;
  user-select: none !important;
  img {
    user-select: none !important;
  }
}

.timer {
  position: absolute;
  z-index: 10;
  font-size: $fontsmaller;
  right: 10px;
  top: 10px;
  background-color: transparent;
  transition: 500ms all;
  user-select: none;
}

.timewran {
  right: calc(50% - 70px);
  top: calc(50% - 70px);
  transform: scale(3);
  border-radius: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px #0000006f;
}

.timercount {
  color: rgb(160, 160, 160);
  text-align: center;
}
.back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.ind {
  font-size: $fontnormal;
  font-weight: bolder;
}
.icon {
  > span {
    background-color: transparent;
    color: #888;
  }
}
