.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #000;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  background-color: #000 !important;
  touch-action: none;
  overflow: visible !important;
  user-select: none !important;
  img {
    user-select: none !important;
  }
}

.timer {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 10;
  font-size: $fontsmaller;
  right: 0;
  top: 10px;
}
.timercount {
  color: rgb(160, 160, 160);
  text-align: center;
}
.back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
.ind {
  font-size: $fontnormal;
  font-weight: bolder;
}
.icon {
  > span {
    background-color: transparent;
    color: #888;
  }
}

.video {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
