.root {
  height: 100vh;
}
.navspace {
  height: 140px;
}
.nodata {
  text-align: center;
  font-size: $fontsmall;
  color: #aaa;
  padding: 15px;
}
.pcmore {
  text-align: center;
  margin-top: 20px;
}
