.root {
  font-style: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.swiperwrap {
  height: 600px;
  display: flex;
  align-items: center;
}

.swiper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 250px;
}

.button {
  margin: 0 10px 10px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 600px;
  margin: 0 auto;
}
.feature {
  flex: auto;
}
.space {
  height: 200px;
}

.opacity {
  opacity: 0.4;
}
