.timercount {
  color: rgb(160, 160, 160);
  text-align: center;
}
.index {
  font-size: $fontnormal;
  display: block;
}
.time {
  font-size: $fontsmaller;
}

.wrantime {
  .index {
    display: none;
  }
  .time {
    font-weight: bold;
    color: #555;
  }
}
