body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: $backgroundcolor;
  font-size: $fontnormal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > iframe {
    display: none !important;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="number"],
  input[type="text"],
  input[type="tel"] {
    -webkit-appearance: none !important;
    &::placeholder {
      font-size: $fontsmaller;
    }
  }
  button {
    border-radius: 0;
    -webkit-border-radius: 0px;
  }
}
