/*页面圆角*/
$radius: 15px;
/*间隔*/
$interval: 20px;
/*页面背景*/
$backgroundcolor: #fff;
/*主要颜色*/
$color: #ff783d;
$darkcolor: #666;
$lightcolor: #fff;
/*字体*/
$fontlarger: 34px;
$fontlarge: 32px;
$fontnormal: 28px;
$fontsmall: 24px;
$fontsmaller: 20px;
