.root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 24px;
  color: #fff;
  user-select: none;

  a {
    color: #999;
  }

  .cvs {
    height: 100vh;
    width: 100vw;
    canvas {
      position: relative;
      z-index: 101;
    }
  }

  .handlebar {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    user-select: none;
    flex-wrap: wrap;
    z-index: 105;
    .sliderblock {
      display: inline-block;
      width: 50px;
    }
    button,
    .color {
      border: 1px solid #666;
      border-radius: 4px;
      margin: 0;
      width: auto;
      overflow: visible;

      background: transparent;

      /* inherit font & color from ancestor */
      color: inherit;
      font: inherit;

      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;
      /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
    }

    button {
      padding: 5px 10px;
      margin: 0 5px;
    }
    input[type="color" i]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    .color {
      -webkit-appearance: none;
      padding: 2px;
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    .effectbtn {
      background-color: #fff;
      color: #333;
    }

    .slider {
      width: 150px;
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }
  .bgbar {
    width: 100vw;
  }
  .bgcover {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}
